/*!
 * Quara Theme by OllieJW (https://olliejw.me)
 * License - https://olliejw.me/tos
 */

html,
body {
	/* General fixes */
	width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	padding: 0px;
	margin: 0px;
	font-family: 'Poppins', sans-serif;
}

/* =========== Header =========== */
.hero {
	height: 89vh;
    width: 100%;
    background: linear-gradient(rgba(24, 24, 24, 0.465),rgb(24, 24, 24, 24)),url(https://media.discordapp.net/attachments/865029403981381652/934500166025752576/unknown.png?width=1248&height=702) no-repeat center center;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}
h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 4em;
	margin: 0;
	text-transform: uppercase;
	width: 100%;
    text-align: center;
}
h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
}
@media (max-width: 1200px) {
  h1 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 1em;
  }
}
.info {
	color: var(--info-color);
	font-weight: 700;
	/* Numbers look stupid in Raleway so we will make it Poppins */
	font-family: 'Poppins', sans-serif;
}
.ip {
	text-decoration: underline;
	cursor: pointer;
}

/* =========== Sections =========== */
section {
	display: flex;
    justify-content: center;
    padding: 5em 0;
	height: auto;
	flex-wrap: wrap;
}
.light {
	background: linear-gradient(var(--dark-color), #272727);
	color: white;
}
.dark {
	background: var(--dark-color);
	color: var(--dark-text-color);
}
section > p {
	width: 75%;
    padding-right: 5em;
    padding-left: 5em;
    padding-top: 3em;
    cursor: default;
    margin: 0;
}
strong {
	text-transform: uppercase;
}
strong::after{
    content: "\a";
    white-space: pre;
}

.left {
	float: left;
}
.right {
	float: right;
	flex-direction: row-reverse;
}
.feature {
	display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px 50px;
	width: 75%
}
.feature p {
	width: 25em;
	font-size: 1.2em;
}
.feature img {
    width: 20em;
}
hr {
	width: 50%;
}

.staff-card {
	display: inline-block;
	margin: 1em;
    position: relative;
    padding: 1em;
    background: var(--light-dark);
    text-align: center;
	width: 18em;
	border-radius: 1em;
}
.staff-card h3 {
	line-height: 0;
	font-family: 'Poppins',sans-serif;
	color: #ffffff;
	
}

.staff-card h4 {
	color: #ffffff;
}


@media (max-width: 1200px) {
  .staff-card {
      width: 13em;
  }
}

.grid {
	width: auto;
	display: grid;
    grid-template-areas:
    ". . .";
	overflow: hidden;
}
@media (max-width: 1200px) {
  .grid {
    grid-template-areas:
    ".";
  }
}
.vote-card {
	margin: 1em;
    display: block;
    position: relative;
    padding: 1em;
    background: #373b40;
    text-align: center;
	width: 18em;
	border-radius: 1em;
}
.vote-card h3 {
	line-height: 0;
	font-family: 'Poppins',sans-serif;
	color: #ffffff;
}
.vote-card a {
	color: #fff;
}
.vote-card img {
	height: 10em;
}
@media (max-width: 1200px) {
  .vote-card {
      width: 13em;
  }
}

#news {
	width: 75%;
}
.news-card {
	margin: auto;
    position: relative;
    padding: 1em;
    background: #34393e;
    text-align: center;
	border-radius: 1em;
}
.news-card h3 {
	line-height: 0;
	font-family: 'Poppins',sans-serif;
}

#pinned {
	width: 35em;
	z-index: 999;
}

.pinned-card {
	margin: auto;
    position: relative;
    padding: 1em;
    background: var(--light-dark);
    text-align: center;
	border-radius: 1em;
	color: var(--pinned-message-text-color);
}
.pinned-card i {
	position: absolute;
	display: flex;
	margin-left: 11em;
    margin-top: 0.4em;
}
.pinned-card h3 {
	line-height: 0;
	font-family: 'Poppins',sans-serif;
}
.pinned-card > .btn {
	background: var(--pinned-button-color);
    color: var(--pinned-button-text-color);
}
.pinned-card > .btn:hover {
	background: var(--pinned-button-hover-color);
	color: var(--pinned-button-hover-text-color);
}

@media (max-width: 1200px) {
  #pinned {
    width: 90%;
  }
  .pinned-card i {
	margin-left: 4em;
  }
}

.btn {
    padding: 10px 25px;
    background: var(--button-color);
    color: var(--button-text-color);
    display: inline-block;
    border-radius: 1em;
    transition: .3s;
	text-decoration: none;
}
.btn:hover {
	background: var(--button-hover-color);
	color: var(--button-hover-text-color);
}



#header {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
#header li, #header a, #header button {
    font-size: 1.2em;
    color: var(--button-text-color);
    text-decoration: none;
    padding: 1em;
}
#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
	width: 100%;
}
#header .nav {
    margin-left: auto;
    margin-right: auto;
}
#header .logo {
	cursor: pointer;
	left: 20%;
}
#header .nav_links {
	list-style: none;
	padding: 0;
}
#header .nav_links li {
	display: inline-block;
	padding: 0px 20px;
}
#header .nav_links li a {
	transition: 0.3s;
}
#header .nav_links li a:hover {
	color: var(--button-hover-color)
}
#header button {
	padding: 9px 25px;
	background-color: rgb(69 75 82);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: 0.3s;
	color: #fff;
}
#header button:hover {
	background-color: rgba(0, 136,169,0.8);
}
#header .cta {
    position: absolute;
    right: 20%;
}
@media (max-width: 1200px) {
  #header .nav_links li {
    padding: 0.5em;
  }
  #header .nav_links li a {
	padding: 0;
  }
}

/* =========== Animations =========== */
.enlarge {
	transition: all .3s;
}
.enlarge:hover {
	transform: scale(1.1);
}

img {
	transition: all .3s;
	border-radius: 1em;
}

img:hover {
	filter: drop-shadow(0.5rem 0.5rem 0.25rem rgba(0,0,0,0.2));
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}


.footer {
	color:white;
	background: black;
}

